@import "tailwindcss";

:root {
  --background: #d3cec4;
  --foreground: #171717;
}

.dark {
  --background: #050713;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-orbitron: var(--font-orbitron);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.radix-themes {
  --default-font-family: var(--font-orbitron), system-ui, sans-serif !important;
}
